@media only screen and (max-width:600px) 
{
    .choice{
    
        height: 8.5rem;
        width: 8.5rem;
        border-radius: 50%;
    }
    img{
        height: 8rem;
        width: 8rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .reset-btn {
        position: absolute;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        
  } 
}
@media only screen and (max-width:400px) 
{
    .choice{
    
        height: 6.5rem;
        width: 6.5rem;
        border-radius: 50%;
    }
    img{
        height: 6rem;
        width: 6rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .reset-btn {
        position: absolute;
        bottom: 0;
        left:50%;
        transform: translateX(-50%);
        
  }
}
@media only screen and (max-width:300px) 
{
    #title{
        background-color: black;
        color:white;
        height:2.5rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
        }
    .choice{
    
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
    }
    img{
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        border-radius: 50%;
    }
    .score-board{
        
        font-size: 1.5rem;
    }
    #playerscore, #compscore{
        font-size: 3rem;
    }
   
    #msg{
        font-size: 1.1rem;
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 15px;
        display: inline;
    }
    .reset-btn {
        font-size: 0.7rem;
        margin-bottom: 90vmin;
  }
}